.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.light .logo-homepage {
  filter: invert(0);
}

.dark .logo-homepage {
  filter: invert(1);
}
